.td01 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px
}
.ii {
	BORDER-RIGHT: #0099cc 1px solid; BORDER-TOP: #0099cc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #0099cc 1px solid; LINE-HEIGHT: 14px; BORDER-BOTTOM: #0099cc 1px solid; HEIGHT: 14px; BACKGROUND-COLOR: #d1eaf4
}
.td02 {
	FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
